* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Lato', sans-serif;
  max-width: 580px;
  margin: 0 auto;
}

#root {
  margin: 0 24px;
  position: relative;
}